	<ion-view view-title="Aneka Resep Kue" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>Aneka Resep Kue</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-aneka_resep_kue" class=" page-aneka_resep_kue">
					<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_reseps" placeholder="Search" aria-label="filter reseps" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-fade-slide-in-right">
				<div class="item-thumbnail-3 card" ng-repeat="item in reseps | filter:filter_reseps as results" ng-init="$last ? fireEvent() : null"><a class="item item-colorful item-thumbnail-left item-text-wrap"  href="#/aneka_resep_kue/resep_singles/{{item.id}}">
					<img alt="" class="full-image" ng-src="{{item.thumbnail}}" />
					<h3 class=""  ng-bind-html="item.judul | to_trusted"></h3>
						<p >
						{{item.deskripsi}}
						</p>
				<i class="icon ion-android-more-horizontal pull-right"></i>
				</a></div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
