	<ion-view view-title="{{resep.judul}}" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>{{resep.judul}}</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-resep_singles" class="page-resep_singles">
					<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="tabs tabs-colorful tabs-icon-top static">
				<a ng-click="$ionicGoBack()" class="tab-item">
					<i class="icon ion-ios-albums-outline"></i> List
				</a>
				<a class="tab-item tab-item-active active">
					<i class="icon ion-ios-list-outline"></i> Detail
				</a>
				</div>
			<div class="list card">
					<div class="item"><span class="subdued" >{{resep.deskripsi}}</span></div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="resep.detail_deskripsi | strHTML"></div>
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
